footer.footer
  .footer__container
    .footer__content
      .footer__section
        .footer__logo
          span.footer__logo-text DRIVOX.
        p.footer__description
          | Премиальная аренда автомобилей. Воплотите свои мечты в&nbsp;реальность.
      .footer__section
        h4.footer__section-title Контакты
        ul.footer__list
          li.footer__list-item
            a.footer__link(href='tel:+971523898989') #{phone}
          li.footer__list-item
            a.footer__link(href='mailto:info@luxury.car') info@drivoxe.ru
          li.footer__list-item
            span.footer__text РСФСР
      .footer__section
        h4.footer__section-title Услуги
        ul.footer__list
          li.footer__list-item
            a.footer__link(href='#') Аренда спорткаров
          li.footer__list-item
            a.footer__link(href='#') Долгосрочная аренда
          li.footer__list-item
            a.footer__link(href='#') Трансфер
      .footer__section
        h4.footer__section-title Следите за&nbsp;нами
        .footer__social
          a.footer__social-link(href='#') Instagram
          a.footer__social-link(href='#') Facebook
          a.footer__social-link(href='#') YouTube
    .footer__bottom
      p.footer__copyright
        | &copy; 2025 DRIVOX. Все права защищены.

