//- dev или prod
- const env = "dev";

- const version = "1.0.0";

- let baseUrl = "/";
- const siteUrl = "http://localhost:3000";

- const themeColor = "#000";

- const projectTitle = "Каршеринг автомобилей";
- const projectDescription = "Аренда и заказ автомобилей";
- const projectType = "landing";

- const google = "GTM-XXXXXX";
- const yandex = "XXXXXX";
- const phone = "+7 (555) 678-45-32"

//- devoxe - имя репозитория в github page
- if (env === "prod")
    - baseUrl = "/devoxe/";
