section.features
  .features__container
    h2.features__title Почему выбирают нас
    .features__grid
      .feature
        .feature__icon &#x1F3C6;
        h3.feature__title Премиум класс
        p.feature__description
          | Только автомобили премиум сегмента от&nbsp;ведущих мировых брендов
      .feature
        .feature__icon &#x26A1;
        h3.feature__title Быстрое оформление
        p.feature__description
          | Аренда за&nbsp;15&nbsp;минут с&nbsp;минимальным пакетом документов
      .feature
        .feature__icon &#x1F6E1;&#xFE0F;
        h3.feature__title Полная страховка
        p.feature__description
          | Комплексное страхование и&nbsp;техническая поддержка 24/7
      .feature
        .feature__icon &#x1F697;
        h3.feature__title Доставка
        p.feature__description
          | Бесплатная доставка автомобиля в&nbsp;любую точку города