section.hero
  .hero__container
    .hero__content
      h1.hero__title
        | Покорите дороги за&nbsp;рулём легендарных автомобилей!
      p.hero__description
        | От&nbsp;эксклюзивных спорткаров до&nbsp;гоночных шедевров&nbsp;&mdash; выбирайте мечту, садитесь за&nbsp;руль и&nbsp;ощутите мощь премиального авто на&nbsp;полную!
      button.hero__button.button Посмотреть автомобили
    .hero__image
      img.hero__car-image(src='img/main-car.png' alt='Lamborghini Huracan')
