extends ../layouts/_default.pug

block variables
  - const pageTitle = "Drivoxe";
  - const pageDescription = "Аренда и заказ автомобилей";
  - const pageLink = "";

block hero
  include ../parts/_hero.pug
block features
  include ../parts/_features.pug
block cars
  include ../parts/_cars.pug
block booking
  include ../parts/_booking.pug

